 /* footer styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

footer h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer p {
    line-height: 1.6;
    margin: 0 0 10px;
}

footer hr {
    border: 0.5px solid #555;
    margin: 20px 0;
}

footer .text-center {
    text-align: center;
    margin-top: 20px;
}
/* carousel styles */

#carouselExampleDark{
    margin: auto;
    max-height: 500px !important;
    overflow: hidden;
    height: 500px !important;
}

#carouselExampleDark .carousel-item img{
    width: 500px !important;
    height: 500px !important;
    margin: 0 auto !important;
    object-fit: cover !important;
}

#carouselExampleDark {
    transform: scale(0.9); 
    transform-origin: center; 
}

#carouselExampleDark .carousel-caption {
    bottom: 15px !important;
    position: absolute !important;
    padding: 20px !important;
    border-radius: 5px !important;
    width: 90% !important;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center !important;
    color: aliceblue;
    transform: translateX(-50%); /* Compensa el desplazamiento para centrar */
    left: 50%; /* Centra horizontalmente */

}